<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>$TITLE</title>
    <meta name="author" content="$AUTHOR" />
    <meta name="description" content="$DESC" />
    <meta
      name="keywords"
      content="Miika Nissi, blog, resume, technology, programming"
    />
    <link rel="icon" href="$FAVICON" type="image/x-icon" />
    <link rel="apple-touch-icon" type="image/x-icon" href="$FAVICON" />
    <link rel="canonical" href="https://miikanissi.com/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta property="og:image" content="$FAVICON" />
    <meta property="og:url" content="https://miikanissi.com/" />
    <meta property="og:site_name" content="Miika Nissi" />
    <link rel="stylesheet" href="$STYLESHEET" type="text/css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="https://miikanissi.com/rss.xml"
      title="Miika Nissi's Blog"
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://miikanissi.com/atom.xml"
      title="Miika Nissi's Blog"
    />
  </head>
  <body>
    <header>
      <h1 class="main-title">Miika Nissi <em>(https://miikanissi.com/)</em></h1>
      <hr />
      <nav>
        <ul>
          <li><a href="https://miikanissi.com/">Home</a></li>
          <li><a href="https://miikanissi.com/about.html">About</a></li>
          <li><a href="https://github.com/miikanissi">GitHub</a></li>
          <li><a href="https://miikanissi.com/rss.xml">RSS</a></li>
          <li><a href="https://miikanissi.com/atom.xml">Atom</a></li>
        </ul>
      </nav>
    </header>
