<pre class="example">
https://miikanissi.com/rss.xml
</pre>
</main>
<footer>
  <hr>
    By Miika Nissi (<a href="mailto:miika@miikanissi.com">miika@miikanissi.com</a>).
   <br>
    Built with <a href="https://github.com/miikanissi/mblog/">mblog</a>.
    <br>
    <img src="./media/xmr.svg" alt="XMR Logo">
    Monero Tip Jar(<a href="./media/monero.png" title style>QR code</a>):
    <p class="donation">483ax3yva2Ub23ZEsAJV93hQvZvkkyMHScF7H7zd9C9FaVq3Hnxw7fMVvNwLbV6sqdbGGo2GuHYofQrV2xgK7eNpTrM4YKm</p>
    <br>
    <img src="./media/btc.svg" alt="BTC Logo">
    Bitcoin Tip Jar(<a href="./media/btc.png" title style>QR code</a>):
    <p class="donation">bc1qw5lun4wxx4tx9vaztywusnlk7nr5fn773swa98</p>
</footer>
